@page "/"
@rendermode InteractiveServer
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using BlazorDemoApp.Data
@using BlazorDemoApp.Services
@inject SalesTerminalService SalesTerminalService

<div class="container border" style="padding:20px">
    
    <div class="mb-3 row">        
        <h3>Daily Cashup Report</h3>
    </div>

    <div id="ControlRegion">
        <div class="col-lg-12 control-section">
            <div class="control_wrapper">     
                <br />  
                <SfComboBox TValue="string" TItem="User" PopupHeight="230px" Index=2 Placeholder="Cashier" DataSource="@SalesTerminalService.Users" >
                    <ComboBoxFieldSettings Text="UserName" Value="Id"></ComboBoxFieldSettings>
                </SfComboBox>
            </div>    
        </div>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding: 3%;
    }

    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }

    .list {
        float: left;
        line-height: 20px;
        margin: 10px;
        min-width: 280px;
    }
</style>

@code {

}
